<link rel="stylesheet" href="/css/grafico.css">
<script src="https://cdn.jsdelivr.net/npm/chart.js"defer></script>
<script src="/js/teste.js"defer></script>
<h1>Gráfico</h1>
<button id="grafic_bar">Gráfico</button>
<br><br>
<div class="grafic_bar" style='width:500px;height:600px;'>
    <canvas id="grafico_bar"></canvas>
</div>